
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>Details</h1>
    <div>
         @this.Model.ProcessName <br />
         @this.Model.Id
    </div>
</body>
</html>
