@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm())
{
    <input type="text" name="userData" />
    <input type="submit" name="postAction" value="Post..." />
}
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
