
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Say Hello</title>
    <h1>Test Hello from Action Result </h1>

</head>
<body>
    <div> 
        @{ 
        for(int i = 0; i  < 10, i++ )
        {
        <ul>
            <li> @i.ToString(); </li>
        </ul>
        };
        }
    </div>
</body>
</html>
